# Data Validation & Exploration

This notebook validates raw CSV files before SQL analysis.

In [1]:
import pandas as pd
import numpy as np

In [10]:
customers = pd.read_csv("customers.csv")
subscriptions = pd.read_csv("subscriptions.csv")
events = pd.read_csv("events.csv")

In [11]:
customers.head()

  customer_id signup_date     segment country  is_enterprise
0       C0001  04-01-2023  Enterprise      IN           True
1       C0002  14-01-2023         SMB      CA          False
2       C0003  04-01-2023         SMB      IN          False
3       C0004  19-03-2023         SMB      CA          False
4       C0005  25-03-2023         NaN      IN          False

In [12]:
events.head()

  event_id customer_id   event_type  event_date    source
0  E000001       C0001       signup  10-03-2023   organic
1  E000002       C0001       signup  10-03-2023   organic
2  E000003       C0002       signup  27-03-2023       ads
3  E000004       C0002  trial_start  28-03-2023       ads
4  E000005       C0003       signup  19-02-2023  referral

In [14]:
subscriptions.head()

  subscription_id customer_id  start_date    end_date  monthly_price    status
0          S00001       C0001  10-01-2023         NaN            499    active
1          S00002       C0002  12-01-2023         NaN             49    active
2          S00003       C0003  08-01-2023  14-02-2023            149  canceled
3          S00004       C0004  21-01-2023         NaN            149    active
4          S00005       C0005  03-04-2023         NaN             99    active

In [15]:
customers.isna().sum()

customer_id        0
signup_date       36
segment          243
country            0
is_enterprise      0
dtype: int64

In [16]:
subscriptions.isna().sum()

subscription_id      0
customer_id          0
start_date           0
end_date           718
monthly_price        0
status               0
dtype: int64

In [17]:
events.isna().sum()

event_id       0
customer_id    0
event_type     0
event_date     0
source         0
dtype: int64

In [18]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_id    1000 non-null   object
 1   signup_date    964 non-null    object
 2   segment        757 non-null    object
 3   country        1000 non-null   object
 4   is_enterprise  1000 non-null   bool
dtypes: bool(1), object(4)
memory usage: 32.4+ KB

In [19]:
subscriptions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 941 entries, 0 to 940
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   subscription_id  941 non-null    object
 1   customer_id      941 non-null    object
 2   start_date       941 non-null    object
 3   end_date         223 non-null    object
 4   monthly_price    941 non-null    int64
 5   status           941 non-null    object
dtypes: int64(1), object(5)
memory usage: 44.2+ KB

In [20]:
events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2411 entries, 0 to 2410
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   event_id     2411 non-null   object
 1   customer_id  2411 non-null   object
 2   event_type   2411 non-null   object
 3   event_date   2411 non-null   object
 4   source       2411 non-null   object
dtypes: object(5)
memory usage: 94.3+ KB

In [29]:
customers["signup_date"] = pd.to_datetime(customers["signup_date"], errors="coerce")
subscriptions["start_date"] = pd.to_datetime(subscriptions["start_date"], errors="coerce")
subscriptions["end_date"] = pd.to_datetime(subscriptions["end_date"], errors="coerce")
events["event_date"] = pd.to_datetime(events["event_date"], errors="coerce")

In [30]:
customers.duplicated().sum()
subscriptions.duplicated().sum()
events.duplicated().sum()

np.int64(0)

In [31]:
print("Customers duplicates:", customers.duplicated().sum())
print("Subscriptions duplicates:", subscriptions.duplicated().sum())
print("Events duplicates:", events.duplicated().sum())

Customers duplicates: 0
Subscriptions duplicates: 0
Events duplicates: 0